.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 800;
  padding-bottom: 1.5rem;
}

.title span {
  color: #0070f3;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  color: #666666;
  padding-bottom: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  padding: 10px;
}

.eleven {
  background-color: #0070f3;
  box-shadow: 0 4px 14px 0 rgba(0, 118, 255, 0.39);
  color: white;
  margin: 0;
  padding: 0 3.5rem;
  height: 2.81rem;
  line-height: 2.8rem;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}

.eleven:hover {
  background: rgba(0, 118, 255, 0.9);
  box-shadow: 0 6px 20px rgba(0, 118, 255, 0.23);
}

.twelve {
  background: #fff;
  color: #696969;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
  padding: 0 3.5rem;
  height: 2.81rem;
  line-height: 2.8rem;
  border-radius: 7px;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.twelve:hover {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 20px rgba(93, 93, 93, 0.23);
}

@media only screen and (max-width: 425px) {
  .title {
    font-size: 2.5rem;
  }
  .buttons {
    flex-direction: column;
  }
  .eleven {
    margin: 0;
  }
  .twelve {
    margin: 0;
  }
}

@media only screen and (max-width: 280px) {
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
}
